body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 35px;
}
body p {
    margin-bottom: 30px;
    padding: 10px;
}
li {
    list-style-type: decimal;
    margin: 10px;
    padding: 16px;
}
li a {
    color: white;
    text-decoration: none;
}
li a:hover {
    color: red;
}